.row {
    display: flex;
    width: 999px;
    margin: 0 auto;
    justify-content: space-between;
}

.row a {
    color: darkcyan;
    text-decoration: none;
}

.row div {
    text-align: center;
}
