$fontfamily: arial;

$minwidth: 320px;
$mw: 1228;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//background colors
$backgroundColor1: #030303;
$backgroundColor2: #272626;

//font colors
$headingColor1: #F0F13E;
$headingColor2: #FDFE95;
$headingColor3: #C4C4C4;

$textColor: #C4C2C1;

$linkColor: #f0f13e;


