@import "src/styles/variables";
@import "src/styles/mixins";

.body {
  background-color: $backgroundColor2;
  @include flexbox();
  flex-direction: column;
  align-items: center;
  padding: 40px 0 110px 0;
  margin-bottom: 65px;
}

.text {
  max-width: 750px;
  text-align: left;
  color: $textColor;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
