.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 60px;
}

.logo {
    color: #F0F13E;
    font-size: 30px;
}

.info {
    color: #F0F13E;
    font-size: 30px;
}
