@import "src/styles/variables";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  min-height: 35px;
  box-shadow: 0px 2px 4px #FDFE95;
  border-radius: 50px;
  background-color: $linkColor;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #323131;
}
