$main-color: black;

body {
  background-color: $main-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 1228px;
  margin: 0 auto;
}


